{% extends 'account/signup-base.html' %} {% load static %} 
{% load widget_tweaks %} {% block content %}
<div class="preloader"></div>

<div class="main-wrap">
  <div class="nav-header bg-transparent shadow-none border-0">
    <div class="nav-top w-100" style="margin-left: -500px;">
      <a href="index.html">
        <i class="feather-zap text-success display1-size me-2 ms-0"></i>
        <span
          class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xxl logo-text mb-0"
        >
          Sociala.
        </span>
      </a>
      <a href="#" class="mob-menu ms-auto me-2 chat-active-btn">
        <i
          class="feather-message-circle text-grey-900 font-sm btn-round-md bg-greylight"
        ></i>
      </a>
      <a href="default-video.html" class="mob-menu me-2">
        <i
          class="feather-video text-grey-900 font-sm btn-round-md bg-greylight"
        ></i>
      </a>
      <a href="#" class="me-2 menu-search-icon mob-menu">
        <i
          class="feather-search text-grey-900 font-sm btn-round-md bg-greylight"
        ></i>
      </a>
      <button class="nav-menu me-0 ms-2"></button>
    </div>
  </div>

  <div class="row">
    <div
      class="col-xl-5 d-none d-xl-block p-0 vh-100 bg-image-cover bg-no-repeat"
      style="background-image: url({% static 'images/login-bg-2.jpg' %});"
    ></div>
    <div
      class="col-xl-7 vh-95 align-items-center d-flex bg-white rounded-3 overflow-hidden"
    >
      <div class="card shadow-none border-0 ms-auto me-auto login-card">
        <div class="card-body rounded-0 text-left">
          <h2 class="fw-700 display1-size display2-md-size mb-4">
            Password Reset Done
          </h2>
            <p>Your password has been set. You may go ahead and log in now</p>
            <div class="col-sm-12 p-0 text-left">
                <div class="form-group mb-1">
                <a
                    class="form-control text-center style2-input text-white fw-600 bg-dark border-0 p-0"
                    name="submit"
                    id="submit"
                    href="{% url 'login' %}"
                >
                    Back to Login
                </a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
